.image{
    max-width: 150px;
    height: auto;
    float: left;
    margin-right: 10px;
}
.list{
    background-color:  rgb(214, 120, 120);
    padding-bottom: 5px;
}
dt{
    font-weight: bold;
    font-size: 1.15rem;
    padding-top: 10px;
}
dd{
    margin: 0;
}
.wrapper{
    background-color: rgb(239, 207, 216);
    padding-bottom: 50px;
    
}

h1{
    background-color: rgb(214, 120, 120);
}
